<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <title>Théo Attali{% block title %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="index, follow">
    <meta name="author" content="Théo Attali">
    <meta name="description" content="Site Web personnel de Théo Attali.">
    <meta name="Keywords" content="theoattali,theo attali,developpeur,cv">

    <meta property="og:image" content="{{ absolute_url(asset('assets/images/icon.png')) }}" />

    <link rel="shortcut icon" type="image/png" href="{{ asset('assets/images/icon.png') }}">
    <link rel="apple-touch-icon" type="image/png" href="{{ asset('assets/images/icon.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('dist/plugins/bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('dist/plugins/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400normal,500normal,700normal,900normal|Montserrat:400normal|Droid+Sans:400normal&subset=all">

    <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/styles.css') }}">

    {% block stylesheets %}{% endblock %}
</head>

{% block body %}
<body>
    <div class="container-fluid">
        {% block aside %}
            <aside class="aside-vertical col-md-offset-2 col-md-8">
                <header>
                    <a href="{{ path('article_index') }}">
                        <img class="img-responsive" src="{{ asset('assets/images/profile.png') }}" alt="" />
                        <h1 class="name_user">Théo Attali</h1>
                    </a>
                </header>
            </aside>
        {% endblock %}
        <div class="main {{ (aside is defined) ? 'col-md-6 main-horizontal' : 'col-md-offset-2 col-md-8' }}">
            <header>
                <div class="col-md-10">
                    {% block return %}{% endblock %}
                </div>
                <div class="col-md-2 text-right">
                    {# EN - FR #}
                </div>
            </header>
            <div class="main-content">
                {% block content %}{% endblock %}
            </div>

        </div>
    </div>

    <script type="text/javascript" src="{{ asset('dist/plugins/jquery/js/jquery.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.contact .contact-hover').hover(function(){
                document.getElementById('contact-text').innerHTML = this.getAttribute('title');
            });
        });
    </script>

    {% block javascripts %}{% endblock %}
</body>
{% endblock body %}
</html>
