{% extends 'base.html.twig' %}

{% set aside = true %}

{% block stylesheets %}
<meta name="google-site-verification" content="_NEQ7ODj8G1Z8lIqNCUZSWoE-RsYsvqjgTG0loKaCN4" />
{% endblock %}

{% block aside %}
    <aside class="aside col-md-offset-2 col-md-2">
        <header>
            <a href="{{ path('article_index') }}">
                <img src="{{ asset('assets/images/profile.png') }}" alt="" />
                <h1 class="name_user">Théo Attali</h1>
                <h3 class="title_user">- Étudiant développeur -</h3>
            </a>
            <div class="contact">
                <ul class="list-inline">
                    <li>
                        <a class="contact-hover" title="theoattali@gmail.com">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a class="contact-hover" title="+33 6 32 54 91 59">
                            <i class="fa fa-phone"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/tattali" target="_blank" title="Profil Github">
                            <i class="fa fa-github-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/theoattali" target="_blank" title="Profil Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <textarea id="contact-text" onclick="this.select()" rows="1">
                    &nbsp;
                </textarea>
            </div>

        </header>

        <section>
            <h3>Formation</h3>
            <div>
                <h4>Certificat d'architecte <br /> en technologies numériques</h4>
                <ul class="list-unstyled">
                    <li>École 42 <em>(75017)</em></li>
                    <li>2016 - 2019</li>
                </ul>
            </div>
            <div>
                <h4>BTS Systèmes d'informations aux organisations</h4>
                <ul class="list-unstyled">
                    <li>Saint Vincent <em>(60300)</em></li>
                    <li>2014 - 2016</li>
                </ul>
            </div>
            <div>
                <h4>Bac STMG</h4>
                <ul class="list-unstyled">
                    <li>Lycée Léonard de Vinci <em>(95470)</em></li>
                    <li>2011 - 2014</li>
                </ul>
            </div>
        </section>

        <section>
            <h3>Langues</h3>
            <ul class="list-unstyled">
                <li>Français <em>(Natale)</em></li>
                <li>Anglais <em>(Professionnel)</em></li>
            </ul>
        </section>

        <section>
            <h3>Centres d’intérêt</h3>
            <ul class="list-unstyled">
                <li>Cinéma</li>
                <li>Musique</li>
                <li>Informatique</li>
            </ul>
        </section>

        <section>
            <h3>
                Télécharger mon CV
                <span class="contact">
                    <a href="{{ asset('assets/CV-fevrier2016-TheoAttali.pdf') }}" title="Curriculum Vitae">
                        <i class="fa fa-download"></i>
                    </a>
                </span>
            </h3>
        </section>
    </aside>
{% endblock %}

{% block content %}
    <article>
        <header>
            <h2>
                <a href="">
                     <i class="fa fa-info"></i>
                     <span class="title">Infos</span>
                </a>
            </h2>
        </header>
        <section>
            <p>
                Étudiant en 2ème Année de BTS Services Informatiques aux Organisations (SIO), spécialité Solutions Logicielles et
                Applications Métier (SLAM) au <a href="http://www.lycee-stvincent.fr/">Lycée Saint-Vincent</a> de Senlis (60300).
                J'ai également été admis à l'<a href="http://www.42.fr/notre-pedagogie-principes/">École 42</a> (75017) que j'intégrerai dès la rentrée 2016.
            </p>
        </section>
    </article>

    <article>
        <header>
            <h2>
                <a href="{{ path('article_index', {'type': 'experience'}) }}">
                     <i class="fa fa-briefcase"></i>
                     <span class="title">Experiences</span>
                     <small>Voir</small>
                </a>
            </h2>
        </header>
        {% for experience in articles['experiences'][:3] %}
            <section>
                <header>
                    <a href="{{ path('article_show', {'type': 'experience', 'id': experience.id }) }}">
                        <h3>{{ experience.title }}</h3>
                    </a>
                    <span class="date pull-right">
                        Durée {{ experience.dateInterval('duration') }} mois
                    </span>
                    <h4>{{ experience.company }}</h4>
                </header>
                <p>
                    {{ experience.caption('slice')|raw }}
                </p>
            </section>
        {% endfor %}
    </article>

    <article>
        <header>
            <h2>
                <a href="{{ path('article_index', {'type': 'project'}) }}">
                     <i class="fa fa-paint-brush"></i>
                     <span class="title">Réalisations</span>
                     <small>Voir</small>
                </a>
            </h2>
        </header>
        {% for project in articles['projects'][:4] %}
            <section>
                <header>
                    <span class="date pull-right">
                        {{ project.dateInterval }}
                    </span>
                    <a href="{{ path('article_show', {'type': 'project', 'id': project.id }) }}">
                        <h3>{{ project.title }}</h3>
                    </a>
                </header>
                <p>
                    {{ project.caption('slice')|raw }}
                </p>
            </section>
        {% endfor %}
    </article>
{% endblock %}
