{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <article>
            <header>
                <h2>
                    <a href="{{ path('article_index', {'type': type}) }}">
                        {% if 'experience' == type %}
                            <i class="fa fa-briefcase"></i>
                            <span class="title">Experiences</span>
                        {% else %}
                            <i class="fa fa-paint-brush"></i>
                            <span class="title">Réalisation</span>
                        {% endif %}
                    </a>
                </h2>
            </header>
            {% for article in articles %}
                <section>
                    <header>
                        {% if 'project' == type %}
                            <span class="date pull-right">
                                {{ article.dateInterval }}
                            </span>
                        {% endif %}
                        <a href="{{ path('article_show', {'type': type, 'id': article.id }) }}">
                            <h3>{{ article.title }}</h3>
                        </a>
                        {% if 'experience' == type %}
                            <span class="date pull-right">
                                Durée {{ article.dateInterval('duration') }} mois
                            </span>
                            <h4>{{ article.company }}</h4>
                        {% endif %}
                    </header>
                    <p>
                        {{ article.caption('slice')|raw }}
                    </p>
                </section>
            {% endfor %}
        </article>
    </div>
{% endblock %}
