{% extends 'base.html.twig' %}

{% block return %}
    {% if 'project' == type %}
        {% if article.experience is not null %}
            <a href="{{ path('article_show', {'type': 'experience', 'id': article.experience.id }) }}">
                <span class="fa fa-chevron-left"></span> {{ article.experience.title }}
            </a>
        {% else %}
            <a href="{{ path('article_index', {'type': 'project'}) }}">
                <span class="fa fa-chevron-left"></span> Mes réalisations
            </a>
        {% endif %}
    {% else %}
        <a href="{{ path('article_index', {'type': 'experience'}) }}">
            <span class="fa fa-chevron-left"></span> Mes experiences
        </a>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('dist/plugins/lightslider/css/lightslider.min.css') }}" />
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <article>
            <section>
                <header>
                    <h1>
                        {{ article.title }}
                    </h1>
                    <span class="date pull-right">
                        {{ article.dateInterval }}
                    </span>
                    <h4>
                        {% if 'experience' == type %}
                            {% if article.pictures|length > 0 %}
                                <img class="img-responsive" src="{{ asset(article.pictures.0.webpath) }}"><br>
                            {% endif %}
                            {{ article.company }}
                        {% else %}
                            {{ article.tag }}
                        {% endif %}
                    </h4>
                </header>

                {% if 'project' == type %}
                    {% for picture in article.pictures %}
                        {% if loop.first %}
                            <div class="item">
                                <div class="clearfix">
                                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                        {% endif %}
                                <li data-thumb="{{ asset(picture.webpath) }}">
                                    <img class="img-responsive" src="{{ asset(picture.webpath) }}" />
                                </li>
                        {% if loop.last %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <p>
                    {{ article.caption|raw }}
                </p>

                {% if 'experience' == type %}
                    {% for project in article.projects %}
                        {% if loop.first %}
                            <h2>Projets</h2>
                        {% endif %}
                        <section>
                            <header>
                                <span class="date pull-right">
                                    {{ project.dateInterval }}
                                </span>
                                <a href="{{ path('article_show', {'type': 'project', 'id': project.id }) }}">
                                    <h3>{{ project.title }}</h3>
                                </a>
                            </header>
                            <p>
                                {{ project.caption|raw }}
                            </p>
                        </section>
                    {% endfor %}

                    <h2>Compétences</h2>
                    <p>
                        <ul>
                            <li>
                                Participation à un projet d’évolution d’un SI (solution applicative et d’infrastructure portant prioritairement sur le domaine de spécialité du candidat)
                            </li>
                            <li>
                                Prise en charge d’incidents et de demandes d’assistance liés au domaine de spécialité du candidat
                            </li>
                            <li>
                                Elaboration de documents relatifs à la production et à la fourniture de services
                            </li>
                            <li>
                                Productions relatives à la mise en place d’un dispositif de veille technologique et à l’étude d’une technologie, d’un composant, d’un outil ou d’une méthode
                            </li>
                        </ul>

                        {% for experienceSkill in article.experienceSkills %}
                            <p>
                                <strong>{{ experienceSkill.skill.code }}</strong>
                                {{ experienceSkill.skill.label }}
                            </p>
                        {% endfor %}
                    </p>
                {% else %}
                    {% for document in article.documents %}
                        {% if loop.first %}
                            <h2>Documentation</h2>
                            <ul>
                        {% endif %}
                                <li>
                                    <a href="{{ asset(document.webpath) }}">
                                        {{ document.caption }}
                                    </a>
                                </li>
                        {% if loop.last %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </section>
        </article>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/plugins/lightslider/js/lightslider.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#image-gallery').lightSlider({
                gallery: true,
                item: 1,
                slideMargin: 0,
                speed: 700,
                keyPress: true,
                auto: false,
                loop: true,
                onSliderLoad: function() {
                    $('#image-gallery').removeClass('cS-hidden');
                },
            });
        });
    </script>
{% endblock %}
